.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0);
}

.card.hovercard .cardheader {
    background-color: #d3d3d300;
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(231, 4, 4, 0.842);
}

.card.hovercard .info {
    padding: 45px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 19px;
    line-height: 20px;
    color: #050505;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

section.pad {
    padding-top: 3%;
    padding-bottom: 5%; 
}

.pic2 {
    padding-top: 3%;   
}

.try {
    padding-left: 2%;    
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/140/866/non_2x/grey-gradient-background-shiny-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: bold;
}

.angle {
    border-radius: 20%;
}

.photoModal {
width:100%;
max-width:300px;
}

.comment {
    background-color: darkgray;
    max-height: 15vh;
    overflow: auto;
}

.modal-content {
    background-color: darkgray;
}
.commentForm {
    display: none;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 3%;
}

.form-inline {
    width: 100%;
}

.form-inline {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #080808;
    border-color: #000;
}

.modal-title {
    font-family:'Trebuchet MS';
    font-weight: bolder;
    text-align: center;
}
.info {
    font-family:'Trebuchet MS';
    font-weight: bolder;
}

img {
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgba(14, 13, 13, 0.438);
}

